<!-- Base template will appear in all pages-->
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Home</a> <!-- url_for(), which generates URLs using its internal mapping of URLs to view functions. In the future if you change index.html, it will locate the file directly -->
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
             <a href="{{ url_for('register') }}">Register</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if message %}
        <ul>
          {% for message in messages %}
          <li>{ { message } }</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>